body{margin:0;
    padding:0;
    overflow: hidden;
    font-family:"Emblema One", system-ui;
}
.main {
    display: flex;
    gap: 1rem;
    height:100vh;
}
.left-pannel{
    width:20%;
    height:100%;
    background-color:cadetblue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.right-pannel{
    width:80%;
    height:100%;
    background-color:cornsilk;
    overflow-y:scroll ;
    padding: 1rem;
    
}   

.me-image{
    height:7rem;
    width:7rem;
    overflow-y: scroll;
    object-fit: cover;
    border-radius:100% ;

}
h3{
    color:cadetblue;
    font-size: 24px;
    text-decoration: underline;
}
p{
    font-size: 16px;
}
.Icons{
    list-style-type:none;
    display:flex;
    gap:0.5rem;
    align-items:center
}
.Icons img{
    height:2.5rem;
    width:2.5rem;
}
h4{
    color:cadetblue;
    font-size:24px;
}
.name{
    color:cornsilk;

}
.place{
    color:cornsilk;
}